@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
h1,h3,h5 {
  font-family: "Rubik", sans-serif;
  text-align: center;
}
body{
  background-color: black;
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.Twitter {
  color: #01ff95;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  width: 20rem;
  padding: 10px;
  margin: auto;
}
.Behance{
    background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
    width: 20rem;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.LinkedIn{
    background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
    width: 20rem;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.Instagram{
    background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
    width: 20rem;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.Portfolio{
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  width: 20rem;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}
.email{
   background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
    width: 20rem;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
